body{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #FDECCE;
}

.hero{
    background-color: white;
}

.hero p{
    text-align: left;
    margin: 15px;
}

.hero h2{
    padding: 10px;
}

.hero h3{
    color: #78777d;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
}

.hero img{
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.wright-glider{
text-align: left;
}
@media (max-width:800px){
.hero{
    height: fit-content;
}
}
@media(min-width:800px){
.hero p{
    padding: 3px;
}
}