html {
    scroll-behavior: smooth;
}

body{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #FDECCE;
}

.dropdown-item.active {
  background-color:#9B3830; 
  color: white; 
}

.hero{
    background-color: white;
}

.hero p{
    text-align: left;
    margin: 15px;
}

.hero h2{
    padding: 10px;
}

.hero h3{
    color: #78777d;
    margin: 10px;
    text-transform: uppercase;
}

.hero img{
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.list-group, .tab-content{
    padding: 10px;
}

.airplane-list{
    background-color: rgb(250, 220, 182);
    padding:10px;
}

.airplane-list img{
    border-radius: 10px;
    padding: 5PX;
}

.airplane-list img:hover{
    transform: scale(1.1);
}
.airplane-list-by-year{
    background-color: rgb(250, 220, 182);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}
.airplane-list-by-year img:hover{
    transform: scale(1.15);
}
.airplane-list-by-year a{
color: #9B3830;
}
.airplane-list-by-year a:hover{
    color: rgb(189, 135, 0);
    font-size: larger;
}
.airplane-list-by-year h6{
    text-decoration: underline;
    color: goldenrod;
    margin-left: 50px;
}

@media (max-width:800px){
.hero{
    height: fit-content;
}
.airplane-list-by-year{
    text-size-adjust:fit-content;
}
.airplane-list-by-year a:hover{
    font-size: 16px;
}
}
@media(min-width:800px){
.hero p{
    padding: 3px;
}
}