body{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #FDECCE;
}

.dropdown-item.active {
  background-color:#9B3830; 
  color: white; 
}

.hero{
    background-color: white;
}

.hero p{
    text-align: left;
    margin: 15px;
}

.hero h2{
    padding: 10px;
}

.hero h3{
    color: #78777d;
    margin: 10px;
    text-transform: uppercase;
}

.hero img{
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
.automobile-list{
    background-color: rgb(250, 220, 182);
    padding:10px;
}

.automobile-list img{
    border-radius: 10px;
    padding: 5PX;
}

.automobile-list img:hover{
    transform: scale(1.1);
}
.automobile-list-by-year{
    background-color: rgb(250, 220, 182);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}
.automobile-list-by-year a{
color: #9B3830;
}