body{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #FDECCE;
}

.hero{
    background-color: white;
}
.hero .air-beacon{
    float:left;
    margin: 5px 15px;
}
.hero .car-rides{
    float: right;
    width: 200px;
    height: 150px;
    margin: 5px;
}
.hero p{
    text-align: left;
    margin: 5px 15px;
}

.hero h2{
    padding: 10px;
}

.card{
    background-color: rgb(255, 255, 255);
    margin: 30px 0;
    text-align: center;
}

.card h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
}
.card strong{
    font-weight: 800;
    font-size: 14px;
}
.card p{
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5;
    color: #272044;
}
.card-body {
  padding: 10px 30px 10px 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  margin-top: 15px;
  background-color: #9B3830;
  text-decoration: none;
}

.visit-container{
    background-color: #e8dedd;
}

.visit-container .col{
    border: solid;
    border-color: #9B3830;
    border-width: 1.5px;
    border-radius: 5px;
}

.embed{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
}

.fa-brands{
    font-size: 30px;
    margin: 15px;
    color:#9B3830;
}

.fa-brands:hover{
    color: blue;
    font-size: 35px;
}

@media (max-width:800px){
.hero{
    height: fit-content;
}
}
@media(min-width:800px){
    .hero .car-rides{
        margin-top: -10px;
    }
.hero p{
    padding: 3px;
}
}