body{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #FDECCE;
}

 a{
    color: #9B3830;
}

.hero{
    background-color: white;
}

.hero .air-beacon{
    float:left;
    margin: 5px 15px;
}

.hero .car-rides{
    float: right;
    width: 200px;
    height: 150px;
    margin: 5px;
}

.hero p{
    text-align: left;
    margin: 15px;
}

.hero li{
    text-align: left;
}

.hero h2{
    padding: 10px;
}

.hero h3{
    color: #78777d;
    margin: 10px;
    text-transform: uppercase;
}

.hero img{
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.list-group, .tab-content{
    padding: 10px;
}

.card{
    background-color: rgb(255, 255, 255);
    margin: 30px 0;
    text-align: center;
}

.card h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
}

.card strong{
    font-weight: 800;
    font-size: 14px;
}

.card p{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    color: #272044;
}

.card-body {
  padding: 10px 30px 10px 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  margin-top: 15px;
  background-color: #9B3830;
  text-decoration: none;
}

.visit-container{
    background-color: #e8dedd;
}

.visit-container .col{
    border: solid;
    border-color: #9B3830;
    border-width: 1.5px;
    border-radius: 5px;
}

.embed{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
}

.fa-brands{
    font-size: 30px;
    margin: 15px;
    color:#9B3830;
}

.fa-brands:hover{
    color: blue;
    font-size: 35px;
}

.full-calendar p{
    text-align: center;
}

.calendar-past{
    color: #78777d;
    text-decoration: line-through;
}

.calendar-past a{
    color: #78777d;
}

.calendar a{
    color: #9B3830;
}

.membership-benefits{
    border: 5px solid #9B3830;
}

.membership-benefits h3{
    text-decoration: underline;
}

.membership-benefits p{
    text-align: center;
}

.membership-benefits li{
    list-style: none;
    text-align: center;
}

.membership-details {
    text-align: center;
}

.membership-details .btn {
    white-space: nowrap;
    display: inline-block;
    padding: 20px;
}

.business-membership{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding:20px;
}

.business-membership h2{
    text-decoration: underline;
}

.traffic-jam-sponsors p{
    text-align: center;
    display: inline-block;
}

.vintage-auto{
    background-color: #F6F0DF;
}

@media (max-width:800px){
.hero{
    height: fit-content;
}
.membership-benefits{
    border: 3px solid #9B3830;
    margin: 5px;
}
.membership-benefits li{
    list-style: circle;
    text-align: left;
}
img{
    width: 100%;
}
.hero img{
    float: none;
}
}
@media(min-width:800px){
    .hero .car-rides{
        margin-top: -10px;
    }
.hero p{
    padding: 3px;
}
.membership-benefits{
    border: 5px solid #9B3830;
    margin: 10px 300px 10px 350px;
}
ul{
    margin: 10px;
}
}